@charset "utf-8";
/* CSS Document */
*{margin:0px;padding:0px;    font-family: "微软雅黑", "Helvetica Neue",Helvetica,Arial,sans-serif;}
a{text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
ul li{list-style-type:none;margin: 0; padding: 0;}
img{border:0px;display:block;vertical-align: top;}
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
i{display: block;}
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */
input{outline: 0;}
body{background:#fff;position: relative;}
.wrap{width:100%;min-width:320px;margin:0px auto 0px;   padding-bottom: 1.14rem;padding-top: .9rem; }
.return_img{width: .2rem;height: .4rem;position: absolute;top: .27rem;left: .19rem;}
.head{color: #333;text-align: center;
width: 100%;height:.86rem ;line-height: .86rem;
font-size:.28rem;position: relative;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    background: #fff;
    border-bottom: 4px solid #559469;
}

.tou_wrap{position: relative;height: 2.6rem;    height: 2.5rem;}
.bg{width: 100%;height: 1.4rem;}
img.touxiang{position: absolute;width: 1.5rem;height: 1.5rem;top: .44rem;left: 2.45rem;border-radius:1000px ;  box-shadow: 0px 0px 5px 0px rgba(204, 204, 204, 1);}
.name{font-size: .24rem;color: #333;text-align: center;margin-top: .61rem;}

.change{font-size: .28rem;color: #333;width: 5.02rem;margin: 0 auto .3rem;}
.change span{    line-height: 50px;}
.change img{display: inline-block;padding: .26rem .17rem; .26rem .2rem;border: 1px solid #cccccc;width: .23rem;height: .28rem;}
.change input{height: .82rem;border-style: none;border: 1px solid #cccccc;border-left: none;width: 4.4rem;font-size: .28rem;padding-left: .2rem;    box-sizing: border-box;}

/*按钮*/
.yuyue_button{width: 6rem;height: .81rem;
background: #005f1e;font-size: .28rem;
color: #fff;margin: 1.08rem auto;text-align: center;line-height: .81rem;display: block;}