@charset "utf-8";
/* CSS Document */
*{margin:0px;padding:0px;    font-family: "微软雅黑", "Helvetica Neue",Helvetica,Arial,sans-serif;}
a{text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);color: inherit;}
ul li{list-style-type:none;margin: 0; padding: 0;}
img{border:0px;display:block;vertical-align: top;}
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
i{display: block;}
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */
input{outline: 0;}
body{background:#fff;position: relative;}
.wrap{width:100%;min-width:320px;margin:0px auto 0px;   padding-bottom: 1.14rem;padding-top: 2.04rem; }

.return_img{width: .2rem;height: .4rem;position: absolute;top: .27rem;left: .19rem;}
.head{color: #333;text-align: center;
width: 100%;height:.86rem ;line-height: .86rem;
font-size:.28rem;position: relative;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    background: #fff;
    border-bottom: 4px solid #559469;
}

/*选择*/
.choose_list {
	height: 1rem;
	top: .9rem;
	position: fixed;
	background: #fff;
	z-index: 100;
}

.choose_list li {
	color: #333;
	height: .9rem;
	box-sizing: border-box;
	font-size: .28rem;
	color: #333;
	width: 1.6rem;
	float: left;
	text-align: center;
	line-height: .88rem;
	border-bottom: 1px solid #d2d2d2;
}
.choose_list li a{display: block;}

.choose_list li.active{}
.choose_list li.active a {
	border-bottom: 4px solid #005f1e;
	color: #005f1e;
	width: 1.4rem;
	margin: 0 auto;
	background: #fff;
}

.clear {
	clear: both;
}

.list {
}

.list .information {
	float: left;
}

.list li {
	margin: 0 auto;
	position: relative;
	min-height: 3.14rem;
	border-top: 2px solid #d2d2d2;
	border-bottom: 2px solid #d2d2d2;
	margin-bottom: .28rem;
	z-index: 1;
}

.list li .lie {
	border-top: 2px solid #ffabb9;
}

.list li .lie:nth-of-type(1) {
	border-top: none;
}

.list .my_img {
	float: left;
	vertical-align: top;
	padding: .21rem .27rem .21rem .18rem;
	width: 1.2rem;
	height: 1.2rem;
}

.list .information {
	width: 4.24rem;
	position: relative;
}

.list .title {
	font-size: .21rem;
	color: #EA5F7D;
	padding-top: .3325rem;
}

.list .stitle {
	color: #f47983;
	font-size: .14rem;
	padding-top: .1rem;
	height: .38rem;
}

.list .price {
	color: #f20c00;
	font-size: .19rem;
	padding-top: .13rem;
}

.list .danhao {
	font-size: .24rem;
    color: #666666;
    padding: 0 .18rem;
    line-height: .95rem;
    max-height: 9999px;
}



.list .state {
	color: #666666;
	float: right;
	border: 1px solid #005f1e;
	line-height: 48px;
	border-radius:10px ;
	margin-top: .2rem;
	width: 1.18rem;
	text-align: center;
}

.list .name{font-size: .24rem;color: #333;margin-top: .2rem;padding-left: .2rem;max-height: 9999px;}
.list .name img{display: inline-block;padding-right: .12rem;}
.list .green_line{width: 100%;}
.list .lan{font-size: .24rem;color: #333;padding-left: .2rem;line-height: .79rem;float: left;}
.list .see{width: 1.4rem;height: .5rem;background: #005f1e;color: #fff;font-size: .24rem;display:block;line-height: .50rem;text-align: center;float: right;margin-top: .15rem;margin-right: .2rem;}
